<div class="row">
	<div class="col-md-6">
		<div class="jumbotron jumbotron-about center">
			<h1><strong><span style="color: white">Publish</span></strong></h1>
		</div>
	</div>

	<div class="col-md-6">
		<div class="jumbotron center paper">
			<h1><strong><span style="color: #e74c3c">P</span>aper</strong></h1>
		</div>
	</div>

</div>

<%= render 'form' %>

<%= link_to 'Back', pins_path %>
