<div class="row">
  <div class="col-md-4">
	  	<div class= "jumbotron">
		  	  <img class="img-responsive" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10486005_10154294186385276_5690600788916377789_n.jpg?oh=c97a5443015093d0de757678d8896524&oe=54539229&__gda__=1413012287_54acc589f5f6fca49b64c124cd416b2f">
	  	</div>

  </div>

  <div class="col-md-8">
  	<div class="jumbotron">
  		<h2>The next step from good to GREAT paper</h2>
	  		<p>At <strong><span style="color: #e74c3c">P</span>aper<span style="color: #e67e22">S</span>tack</strong> you can showcase your essays, research papers, or any of your writings and get valuable feedback from the online community. </p>
  		<h3>Due date</h3>
	  		<p>When might you need feedback? You may be simply starting a paper and want to talk with another person about your plans. You may be halfway through a draft and observe that you are unsure about the direction you've chosen to take. You may ask why you got a lower grade than you expected on a paper. Basically, asking for feedback at any stage helps you break out of the confinement of writing.  By looking for criticism from others, you are taking positive, helpful steps to enhance your written work and develop as a writer.</p>
  		<p><span class="label label-primary">Publish</span> The first step for getting feedback is to post your paper online</p>
  		<p><span class="label label-success">Notes</span>Let others know what you are looking for. Whether you need help with your grammar, development of ideas, or just some quick feedback, it is always best to specify in your notes what you need from users</p>
  		<p><span class="label label-warning">Comments</span> Each essay posted will have a comment thread below it where people (including yourself) can discuss the different aspects of your essay. Users can up-vote or down-vote comments so that you can get the best feedback</p>
  		<p><span class="label label-danger">Editor</span>Building a community of student writers is tough. You need people who are willing to share their papers and review/edit the work of others. Look around for essays that might interest you-- help a brother out will you!</p>



  	</div>

 
  </div>
</div>